.app {
  display: flex;
  flex-direction: row;
}

.app-tilemap {
  margin: 20px;
  width: 500px;
  height: 500px;
  background-color: white;
}

.app-colorpicker {
  margin: 20px 20px 20px 0;
  width: 200px;
  height: 500px;
  background-color: white;
}


body {
  background-color:rgb(60, 60, 60);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
